<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script>

        let pageId, pageAccessToken, appId = '515129102335327';

        window.fbAsyncInit = function() {
            FB.init({
                appId      : appId,
                cookie     : true,
                xfbml      : true,
                version    : 'v3.1'
            });

            FB.AppEvents.logPageView();

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {
            if (response.status == 'connected') {
                console.log('Logged in and authenticated.');
                console.log(response);
            } else {
                console.log('Not Authenticated.');
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        function logout() {
            FB.logout(function(response) {
                statusChangeCallback(response);
            });
        }

        function checkPages() {
            FB.api('/me/accounts', function(response){
                console.log(response);
            })
        }

        function subscribePage() {
            pageId = document.getElementById('pageId').value;
            pageAccessToken = document.getElementById('pageAccessToken').value;

            

            FB.api(
                '/'+ pageId +'/subscribed_apps?access_token=' + pageAccessToken,
                'POST',
                {},
                function(response) {
                    console.log(response);
                    if(response.success) {
                      console.log('PageId: ' + pageId);
                      console.log('PageAccessToken: ' + pageAccessToken);
                      const url = location.origin + '/botPage';
                      axios.post(url, { pageId: pageId, pageAccessToken: pageAccessToken })
                        .then(function (response) {
                          console.log(response);
                        })
                        .catch(function (error) {
                          console.log(error);
                        });
                    }
                }
            );
        }
    </script>

    <fb:login-button
            scope="public_profile,email,manage_pages,publish_pages"
            onlogin="checkLoginState();">
    </fb:login-button>

    <button onclick="logout()">Log Out</button>
    <button onclick="checkPages()">Check Pages</button>

    <br>

    PAGE ID: <input type="text" name="pageId" class="pageId" id="pageId">
    PAGE ACCESS TOKEN: <input type="text" name="pageAccessToken" class="pageAccessToken" id="pageAccessToken">

    <br>

    <button onclick="subscribePage()">Subscribe Page</button>
</body>
</html>
